@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", serif;
}

:root{
    --bg-color: #B0FFC1;
    --navbar-color:#fdfdfd;
    --text-color:#00985B;
    --teks-color:#00492C;
    --btn-color:#ffffff;
    --card-color:#ffffff;
}

body{
    min-height: 100vh;
    background-position: center;
}

.header{
    position: fixed;
    width: 100%;
    padding: 20px 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background-color:transparent;
}

.logo{
    color: var(--navbar-color);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    cursor: default;
    margin-right: 140px;
}

.navbar{
    margin-right: 130px;
}

nav a {
    font-size: 18px;
    color: var(--navbar-color);
    text-decoration: none;
    font-weight: medium;
    transition: .3s;
}

.header img{
    width: 50px;
    margin-left: 3px;
}

.navbar a {
    position: relative;
    margin-left: 30px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--navbar-color);
    transition: .3s;
}

.navbar a:hover::before{
    width: 100%;
}

nav a.active{
        font-weight: 650;
        
}

nav a:hover,
nav a.active {
    color: var(--navbar-color);
}

.btn-daftar{
    padding: 5px 40px;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    font-weight: 650;
    color: var(--navbar-color);
    border: 2px solid var(--btn-color);
    transition: .3s;
    margin-right: 10px;
}

.btn-daftar:hover{
    background-color: var(--navbar-color);
    border: 2px solid var(--btn-color);
    color: var(--teks-color);
}

.btn-masuk{
    padding: 5px 40px;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    font-weight: 650;
    color: var(--teks-color);
    border: 2px solid var(--btn-color);
    background-color: var(--btn-color);
    transition: .3s;
    margin-right: -3px;
}

.btn-masuk:hover{
    border: 2px solid var(--btn-color);
    background-color: #0ec50e00;
    color: var(--btn-color);
}


section{
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}


/*beranda*/
.beranda{
    display: flex;
    justify-content: center;
    align-items: center ;
    background-image: radial-gradient( circle 1251px at 30% 0%,  #27E350 0%, rgb(0, 0, 0) 90% );
}
.beranda .vektor {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 156px;
    margin-left: 625px;
}
.beranda .vektor .img-1 {
    position: relative; 
    width: 720px;
    z-index: 2; 
}

.beranda .vektor .img-2 {
    position: absolute; 
    width: 500px;
    margin-right: 300px;
    margin-bottom: 60px;
    z-index: 1; 
}




.hero-content {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    max-width: 600px;
    z-index: 2;
    color: #fff;
}

.hero-content h1 {
    position: relative;
    font-size: 46px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-left: 84px;
    z-index: 2;
}

.hero-content p {
    position: relative;
    font-size: 18px;
    margin-bottom: 40px;
    margin-left: 84px;
    z-index: 2;
}

.vector {
    position: absolute;
    left: 0;
    top: -180px;
    width: 50%;
    height: 50%;
    background-size: contain;
    z-index: 1;
}



.btn-arrow{
    position: absolute;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 400;
    font-size: 13px;
    font-weight: 650;
    color: var(--teks-color);
    border: 2px solid var(--btn-color);
    background-color: var(--btn-color);
    transition: .3s;
    z-index: 3;
    margin-left: 84px;
}

.btn-arrow:hover{
    border: 2px solid var(--btn-color);
    background-color: #0ec50e00;
    color: var(--btn-color);
}
.chevron-icon {
    font-size: 45px;
    position: absolute;
    margin-left: 270px;
    margin-bottom: 200px;
}






/* Layanan */
.layanan {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.layanan h1{
    font-size: 45px;
    font-weight: bold;
    color: var(--text-color);
}

.layanan .paragraf{
    width: 450px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 50px;
}

.layanan .card-wrapper {
    display: flex;             
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;  
}

.layanan .card-kontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 380px;
    height: 250px;
    background-color: var(--card-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.card-kontent:hover {
    background-color: var(--text-color);
    transform: translateY(-10px);
}

.layanan .card-kontent .image {
    background-color: var(--text-color);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.card-kontent:hover .image {
    background-color: var(--card-color);
}

.card-kontent .image img {
    width: 48px;
}

.layanan .card-kontent h3 {
    margin-top: 20px;
    color: black;
    font-weight: bold;
    font-size: 22px;
}

.layanan .card-kontent:hover h3{
    color: white;
}

.card-kontent p {
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    margin-top: 10px;
}

.layanan .card-kontent:hover p{
    color: white;
}


/*Layanan 1*/
.layanan-1{
    background-image: url(elemen/background.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.layanan-1 h1{
    font-size: 45px;
    color: var(--btn-color);
    font-weight: bold;
}
.layanan-1 p{
    font-size: 22px;
    color: var(--btn-color);
    text-align: center;
    padding-bottom: 20px;
}


.input-cari{
    height: 60px;
}

.input-cari:focus{
    border: none;
}

.input-cari .button-secondary{
    border:none;
    width: 200px;
    background-color: var(--btn-color);
    color: var(--text-color);
    font-size: 15px;
    border-radius:0 0 0 10px ;
}

.input-cari .button-primary{
    background-color: var(--teks-color);
    color: var(--btn-color);
    border: none;
    width: 80px;
    font-size: 23px;
    transition: .3s;
    border-radius:0 10px 10px 0 ;
}
.input-cari .button-primary:hover{
    background-color: var(--btn-color);
    color: var(--teks-color);
    border: 1px solid var(--teks-color);
}

.nav-atas{
    border-radius: 10px 0 10px 0;
    
    background-color: #ffffff4f;
}

.nav-atas-1{
    background-color: #ffffff4f;
    color: black;
}

.nav-atas-2{
    background-color: #ffffff4f;
    color: black;
    border-radius: 0 10px 0 0;
}


.layanan-1 .nav-tabs .nav-link{
    color: #000;
}
.layanan-1 .nav-tabs .nav-link.active{
    color: #00985B;
}

.nav-link .active{
    background-color: white;
    color: var(--teks-color);
}

.nav-link:hover,
.nav-link.active {
    color: var(--teks-color);
}
.col-10 {
    margin-top: 20px;
}


/*Layanan 2*/
.layanan-2{
    background-color: var(--bg-color);
    
    flex-wrap: wrap;
}

.layanan-2 .col-12 h2{
    color: var(--text-color);
    font-size: 46px;
    font-weight: bold;
}

.layanan-2 .card{
    background-color: var(--card-color);
    width: 320px;
    height: 430px;
    border: none;
    margin-left: 20px;
    margin-bottom: 80px;
    cursor: pointer;
}

.layanan-2 .card h4{
    color: #000;
    font-weight: 650;
    font-size: 22px;
    line-height: .8rem;
}
.layanan-2 .card-body p{
    color: #011f06;
    font-weight: 400;
    font-size: 14px;
}

.layanan-2 .card:hover{
    background: linear-gradient(170deg, var(--teks-color), #00985B, #00492C, #000);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .25);
    transition: all ease-in-out .3s;
}

.layanan-2 .card:hover .card-body h4 {
    color: white;
    transition: all ease-in-out .3s;
}
.layanan-2 .card:hover .card-body p {
    color: white;
    transition: all ease-in-out .3s;
}

.layanan-2 .card-fasilitas{
    background-color: white;
    position: absolute;
    right: 0;
    left: 0;
    font-weight: bold;
    margin-top: 330px;
}

.layanan-2 .card-fasilitas span{
    margin-top: 18px;
}

.layanan-2 .card-fasilitas p{
    font-size: 12px;
    font-weight: 500;
}

.layanan-2 .lihat{
    text-align: center;
    margin-bottom: 6%;
    cursor: pointer;
}



/*Fitur*/
.fitur{
    background-color: var(--bg-color);
    overflow: hidden;
    padding:90px 0;
}

.button-fitur{
    width: 238px;
    height: 50px;
    background-color: var(--text-color);
    border: none;
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.fitur .card-fitur{
    width: 320px;
    height: 440px;
}

.fitur .card-fitur img{
    width: 320px;
    height: 440px;

}

.fitur h2{
    font-size: 46px;
    font-weight: bold;
    color: var(--text-color);
}

.fitur .card-fitur h5{
    color: var(--btn-color);
    font-size: 26px;
    font-weight: 700;
}

.fitur .card-fitur span{
    color: var(--btn-color);
    font-size: 12px;
}

.fitur .card-fitur h6{
    color: var(--btn-color);
    font-size: 19px;
    font-weight: 600;
}

.fitur .card-fitur button{
    background-color: #00985B;
    color: var(--btn-color);
    border: none;
    width: 150px;
    height: 45px;
    font-size: 16px;
    font-weight: 500;
}

.fitur .card-fitur .overlay{
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    opacity: 0;
    transition: all ease-in-out .3s;
}
.fitur .card-fitur .overlay:hover{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
    cursor: default;
}

.button-arrow-left{
    border: none;
    border-radius: 50px;
    width: 61px;
    height: 61px;
    background-color: var(--text-color);
}
.button-arrow-right{
    border: none;
    border-radius: 50px;
    width: 61px;
    height: 61px;
    background-color: var(--text-color);
}



/*Contact*/
.contact{
    background: url(contact/rumah.bg.jpg);
    background-size: cover;
    display: flex;
}

.contact .contact-overlay{
    background: rgba(0, 0, 0, 0.7);
    padding: 110px 0 110px 0;
    overflow: hidden;
}

.contact .container-isi-kontak{
    padding: 0 85px 0 83px;
}

.contact h3{
    color: var(--navbar-color);
    font-weight: 600;
    font-size: 40px;
    line-height: 69px;
}

.contact h6{
    font-size: 20px;
    font-weight: 600;
    color: var(--navbar-color);
    margin: 19px 0 15px 0;
}
.contact a{
    text-decoration: none;
}

.contact .kontak .kontak-isi{
    margin-left: 15px;
}

.contact .kontak a{
    font-style: none;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    color: var(--navbar-color);
    margin-left: 12px;
    width: 398px;
    display: inline-block;
}

.contact .rumah-impian{
    color: var(--navbar-color);
    font-size: 16px;
    line-height: 18px;
}

.contact .card-kontak{
    background-color: var(--card-color);
    width: 600px;
    height: 485px !important;
    border-radius: 6px;
    padding: 72px 58px;
}

.contact .card-kontak h2{
    color: var(--text-color);
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 21px;
}

.contact .form-control{
    background-color: #CCCACA;
    height: 75px !important;
    border-radius: 0;
}

.contact .form-floating label{
    color: #5F5E5E;
    
}

.contact .form-email{
    border-radius: 10px 10px 0 0;
}

.contact .button-kontak{
    width: 100%;;
    height: 75px;
    background-color: var(--text-color);
    color: var(--navbar-color);
    border: none;
    font-size: 25px;
    font-weight: 600;
    border-radius: 0 0 10px 10px;
}

.contact .button-kontak a{
    color: var(--navbar-color);
}


/*Footer*/
.footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-family: Arial, sans-serif;
}
.isi-napbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.isi-napbar .col-md-7 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.isi-napbar .col-md-7 a{
    text-decoration: none;
    color: var(--navbar-color);
    font-size: 20px;
    font-weight: bold;
    cursor: default;
}

.isi-napbar img {
    height: 50px;
    margin-right: 10px;
}

.isi-napbar .col-md-5 {
    display: flex;
    justify-content: flex-end;
    gap: 20px; 
}


.isi-napbar .col-md-5 a{
    font-size: 18px;
    color: var(--navbar-color);
    text-decoration: none;
    font-weight: medium;
}
